/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root{
  --white: #FFFFFF;
  --cinzaB: #4A4A4A;
  --preto10: #363636;
  --preto50: #2E2E2E;
  --orangeA: #EF6C00;
  --cinzaC: #414141;
  --cinzaA: #BCBCBC;
  --cinzaD: #EFF2FA;
  --blueA:#213565;
  --greenA:#00D46C;
  --blueB:#002E6E;
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansJP";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  font-weight: normal;
  font-style: normal;
}

#topo-menu{
  width: 100%;
}

#menu-main{
  width: 100%;
}
#menu-main ul{
  width: 100%;
}

#logo{
  width: 40vw;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#main{
  width: 100%;
}

#banner-form{
  padding: 4rem;
  background: rgb(3,59,127);
  background: linear-gradient(127deg, rgba(79,156,230,1) 0%, rgba(3,59,127,1) 50%, rgba(0,19,88,1) 100%);
}

article #text-form{
  color: var(--white);
  font-family: 'NotoSansJP', sans-serif;
  font-size: 3.375em;
  font-weight: 400;
  line-height: 1.108;
  font-style: normal;
  letter-spacing: 0.038em;
}

#CEP{
  /*margin-right: 1rem;*/
  height: 3.500em;
  width: 100%;
  margin: 0 auto 1.5rem auto;
}

.input-group-text{
  display: none;
}
.form-control{
  border: 1px solid white;
}
.form-control:focus{
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
}

.btn-cep{
  width: 9.188em;
  margin: 0 auto;
  color: var(--white);
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-family: Roboto;
  font-weight: 300;
  background-color: #A64B00;
  border-color: #A64B00;
  transition: 0.5s;
}
.btn-cep:hover {
  color: #fff;
  background-color: #EF6C00;
  border-color: #EF6C00;
  margin: 0 auto;
}
.link-all-lojas{
  text-align: center;
  margin: 5rem auto 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  font-stretch: normal;
  letter-spacing: 0;
}
p a.link{
  color: var(--white);
  text-align: center;
}
#maps{
  width: 100%;
  height: auto;
}
.mapouter{
  width: 100% !important;
  height: 100vh !important;

}
.gmap_canvas{
  width: 100%;
  height: 589px;
}

#box-best-result{
  padding: 1rem 0 0 4rem;
  margin: 0 auto 0 auto;
}
#box-best-result:after{
  display: block;
  position: relative;
  content: "";
  background: transparent url('../img/Grupo_157.svg') 0% 0% no-repeat padding-box;
  opacity: 0.7;
  width: 54px;
  height: 120px;
  top: -42rem;
  left: -55px;
}
.text-title{
  padding: 0 1rem 0;
  color: var(--blueA);
}
.title-orange{
  font-family: Roboto;
  font-weight: 900;
  font-size:2.875em;
  letter-spacing: 0;
  color: var(--orangeA);
  text-align: left;
  opacity: 1;
  padding: 0 1rem 0;
}
.enderecos-phones{
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0;
  color: var(--cinzaC);
  opacity: 1;
  padding: 0 1rem 0;
}
.table td{
  font-family: Roboto;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0;
  color: var(--cinzaC);
}
.phone-button{
  background-color: var(--orangeA);
  border-radius: 4px;
  opacity: 1;
  font-family: Roboto;
  text-align: center;
  color: var(--white);
  letter-spacing: 0;
  opacity: 1;
}
.phone-button-whats{
  background-color: var(--greenA);
  border-radius: 4px;
  opacity: 1;
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  letter-spacing: 0;
  opacity: 1;
}
#box-image{
  background-image: url("https://via.placeholder.com/549x483");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
h5.card-title{
  font-family: Roboto;
  font-size: 1.188em;
  font-weight: 500;
  letter-spacing: -0.38px;
  color: var(--blueA);
  opacity: 1;
}
.rating strong{
  font-family: Roboto;
  font-weight: 700;
  font-size:0.750em;
  color: var(--orangeA);
  letter-spacing: -0.24px;
  opacity: 1;

}
.rating{
  font-family: Roboto;
  text-align: left;
  font-size:0.750em;
  color: var(--blueB);
  letter-spacing: -0.24px;
  opacity: 1;
}
.text-nowrap small{
  text-align: left;
  letter-spacing: 0;
  color: var(--cinzaB);
  opacity: 1;
}
.button-meligue{
  float: right;
  background-color: var(--orangeA);
  border-radius: 4px;
  opacity: 1;
  color: var(--white);
}
.button-meligue .btn-phone{
  color: var(--white);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0;
  text-align: center;
  opacity: 1;
  transition: 1s;
}
.button-meligue .btn-phone:hover{
  color: var(--cinzaC);
}

#footer{
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  background: transparent linear-gradient(200deg, #4A4A4A 0%, #363636 56%, #2E2E2E 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
#footer h5{
  color: var(--orangeA);
  text-align: left;
  text-transform: capitalize;
  font: normal normal bold 22px/16px Roboto;
  letter-spacing: 0px;
  opacity: 1;
  border-bottom: var(--orangeA) solid 1px;
  line-height: 3rem;
}
#footer ul li a.nav-link{
  text-align: left;
  font: normal normal normal 16px/16px Roboto;
  letter-spacing: 0px;
  color: var(--white);
  opacity: 1;
  border-radius: 10px;
  transition: 2s;
}
#footer ul li a.nav-link:hover{
  border: 1px solid var(--white);
  opacity: 1;
  border-radius: 10px;
}
#footer form input.form-control{
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 0.699999988079071px solid #BCBCBC;
  opacity: 1;
}
#footer form input.form-control::placeholder{
  text-align: left;
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0px;
  color: #414141;
  opacity: 0.58;
}
#footer form input.form-control::-webkit-input-placeholder{
  text-align: left;
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0px;
  color: #414141;
  opacity: 0.58;
}
#footer button.btn-primary{
  background: var(--orangeA) 0% 0% no-repeat padding-box;
  border: var(--orangeA) solid 1px;
  border-radius: 4px;
  text-align: left;
  font: normal normal medium Roboto;
  font-size: 1em;
  letter-spacing: 0;
  color: var(--white);
  opacity: 1;
}
#footer form{
  text-align: end;
}
.logo-footer{
  display: flex;
  justify-content: center;
}
#footer .parcerias ul li a.nav-link:hover{
  border: none;
  opacity: 1;
  border-radius: 0;
}
#footer .parcerias span img{
  width: 13%;
  height: auto;
  margin: 0 0 0 1.56rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  #logo{
    width: 13vw;
  }
  #CEP{
    height: 3.500em;
    width: auto;
    margin: 0 1rem 0 0;
  }
  .input-group-text{
    display: flex;
    background-color: white;
    border: 1px solid transparent;
  }
  .link-all-lojas{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    font-stretch: normal;
    letter-spacing: 0;
    text-align: left;
    margin: 5rem auto 0 auto;
  }
  p a.link{
    color: var(--white);
    text-align: center;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

